'.platform-darwin atom-text-editor[data-grammar~=js]':
  'ctrl-alt-shift-d': 'pulsar-ternjs:definition'
  'ctrl-alt-c': 'pulsar-ternjs:rename'
  'ctrl-shift-r': 'pulsar-ternjs:references'
  'ctrl-alt-space': 'pulsar-ternjs:startCompletion'
  'alt-o': 'pulsar-ternjs:documentation'
  'ctrl-shift-cmd-left': 'pulsar-ternjs:navigateBack'
  'ctrl-shift-cmd-right': 'pulsar-ternjs:navigateForward'

'.platform-linux atom-text-editor[data-grammar~=js]':
  'ctrl-alt-shift-d': 'pulsar-ternjs:definition'
  'ctrl-alt-shift-c': 'pulsar-ternjs:rename'
  'ctrl-alt-shift-e': 'pulsar-ternjs:references'
  'ctrl-alt-space': 'pulsar-ternjs:startCompletion'
  'alt-o': 'pulsar-ternjs:documentation'
  'ctrl-shift-cmd-left': 'pulsar-ternjs:navigateBack'
  'ctrl-shift-cmd-right': 'pulsar-ternjs:navigateForward'

'.platform-win32 atom-text-editor[data-grammar~=js]':
  'ctrl-alt-shift-d': 'pulsar-ternjs:definition'
  'ctrl-alt-c': 'pulsar-ternjs:rename'
  'ctrl-shift-e': 'pulsar-ternjs:references'
  'ctrl-alt-space': 'pulsar-ternjs:startCompletion'
  'alt-o': 'pulsar-ternjs:documentation'
  'ctrl-shift-cmd-left': 'pulsar-ternjs:navigateBack'
  'ctrl-shift-cmd-right': 'pulsar-ternjs:navigateForward'
